$background-color: rgba(12, 12, 14, 1);

$text-color: rgba(242, 239, 234, 1);
$text-color-secondary: rgba(242, 239, 234, 0.5);
$text-color-dark: rgba(12, 12, 14, 1);

$transition-duration: 0.2s;

$mobile-breakpoint: 45rem;
$portrait-breakpoint: 64rem;
$landscape-breakpoint: 80rem;