@import url('https://fonts.cdnfonts.com/css/megdira');

$background-color: rgba(12, 12, 14, 1);

$text-color: rgba(242, 239, 234, 1);
$text-color-secondary: rgba(242, 239, 234, 0.75);
$text-color-dark: rgba(12, 12, 14, 1);

$transition-duration: 0.2s;
$animation-duration: 1.5s;

$mobile-breakpoint: 26.25rem;
$portrait-breakpoint: 64rem;
$landscape-breakpoint: 80rem;

$Megdira: "Megdira", sans-serif;