@use "../../styles/variables.scss" as *;
@use "../..//styles/mixins.scss" as *;

#intro-wrapper {
  @include flex(flex-start, center, column);
  
  h1 {
    font-family: $Megdira;
    font-size: clamp(3.25rem, 12vw, 12rem);
    font-weight: normal;
    line-height: clamp(2.75rem, 10vw, 10rem);
    text-align: center;
  }
  span {
    font-size: clamp(0.6rem, 1.25vw, 1.25rem);
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.1rem;
    color: $text-color;
  }
}